<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memo</title>
    <script src="angular.min.js"></script>
    <style>
    body {

  background :url(g.jpg);

    
        }
        p { border: 2px solid skyblue;
            
            padding-top:20px;
  padding-right:30px;
  padding-bottom:20px;
  padding-left:30px;
  background-color: aqua;
  text-align: center;
}

table,td,th{
            border: 2px solid skyblue;
  padding-top:3px;
  padding-right:30px;
  padding-bottom:3px;
  padding-left:30px;
           background-color:green;
          
          }

            
div{text-align: center;
} 
    </style>
</head>
<body > <div ng-app="" ng-init="name='sowmya';email='sowmya@gmail.com';phoneno=9059060161 ;class='engineering'">

  <h2>info</h2>
  
<p> name: <input type="text" ng-model="name">
  email: <input type="text" ng-model="email">
  phoneno: <input type="number" ng-model="phoneno">
     class: <input type="text" ng-model="class">
  </p>    
<center>
<table>
  <tr>
    <th>S.no</th>
    <th>Standard</th>
    <th> Year of study</th>
    <th>Institute</th>
    <th> Percentage</th>
    
</tr>
<tr>
    <td>1</td>
    <td>10th standarad</td>
    <td>2015-2016</td>
    <td>Sri Chaitanya Techno school</td>
    <td>85%</td>
    
</tr>
<tr>
    <td>2</td>
    <td>12th standarad</td>
    <td>2016-2018</td>
    <td>Sri Chaitanya junior college</td>
    <td>90%</td>
    
</tr>
<tr>
    <td>3</td>
    <td>Engineering</td>
    <td>2018-2022</td>
    <td>Sasi institue of technolgy and engineering</td>
    <td>72%</td>
    
</tr>
    
</table>
</center>
<div>Submit here:<input type="submit"></div>

</body>
</html>